@import 'tailwindcss';
/* @reference "tailwindcss"; */
/* @import "tailwindcss/preflight"; */
@tailwind utilities;

:root {
	/* --foreground-rgb: 0, 0, 0; 
	 --background-start-rgb: 214, 219, 220;
	 --background-end-rgb: 255, 255, 255; */
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */
body,html{
	height:100%
}

@layer base {
	h1 {
		font-size: var(--text-3xl);
	}

	h2 {
		font-size: var(--text-2xl);
	}

	button{
		@apply border border-gray-400 rounded-sm px-2 border-black
	}

	input{
		@apply border border-gray-500 rounded-xs px-1
	}
}
